@import "../../../styles";

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  z-index: 99;
  @media only screen and( max-width:768px) {
    width: 100%;
    text-align: center;
    display: block;
  }
}

.logo {
  flex-grow: 9;
  padding: 0 20px;
  .company_logo_primary {
    color: #fff;
    font-family: $font_family;
    font-size: $heading;
    font-weight: 900;
  }
  .company_logo_secondary {
    @extend .company_logo_primary;
    color: $primary_background_color;
  }
  @media only screen and( max-width:768px) {
    position: relative;
    top: 30%;
  }
}

.navbar {
  margin: 0 50px;

  .small_icons {
    display: none;
    @media only screen and( max-width:768px) {
      display: flex;
      .fa-bars {
        z-index: 999999999;
        font-size: 20px;
        color: #fff;
      }
    }
  }

  .nav_items {
    color: #fff;
    font-size: $sub_heading;
    font-family: $font_family;
    padding: 0 20px;
    @media only screen and( max-width:768px) {
      display: none;
    }
  }
  .get_in_touch {
    @extend .nav_items;
    background-color: $primary_background_color;
    padding: 10px;
    border-radius: 50px;
    height: 50px;
    @media only screen and( max-width:768px) {
      display: none;
    }
  }
  .fa-comment-alt {
    padding-right: 8px;
    position: relative;
    top: 2px;
  }

  .side_nav_items {
    display: none;
    @media only screen and( max-width:768px) {
      display: block;
      padding: 10px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
    }
  }
  .side_get_in_touch {
    display: none;
    @media only screen and( max-width:768px) {
      display: block;
      color: #fff;
      font-size: $sub_heading;
      font-family: $font_family;
      background-color: $primary_background_color;
      padding: 10px;
      border-radius: 50px;
    }
  }
}
