@import "../../../styles.scss";

.contact_container {
  text-align: center;
  background: url("../../../assets/footer_background.jpg") no-repeat;
  background-size: cover;
  color: #fff;

  @media only screen and( max-width:768px) {
    display: block;
    h1 {
      font-size: 23px;
    }
    h2 {
      font-size: 18px;
    }
  }
  .small_input {
    @media only screen and( max-width:768px) {
      display: block;
      margin: 0;
      padding: 0;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .input_field {
      height: 40px;
      border-radius: 4px;
      border: solid 1px #fff;
      width: 100%;
      font-family: $font_family;
      padding: 0 10px;
      margin: 10px;

      @media only screen and( max-width:768px) {
        width: 100%;
        padding: 0;
      }
    }
  }
  .text_container {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and( max-width:768px) {
      display: block;
    }
    textarea {
      font-family: $font_family;
      height: 40px;
      border-radius: 4px;
      border: solid 1px #fff;
      width: 100%;
      padding: 20px;
      @media only screen and( max-width:768px) {
        width: 100%;
        padding: 10px;
      }
    }
  }

  .layer {
    padding: 100px;
    background-color: rgba(#000000, 0.6);
    @media only screen and( max-width:768px) {
      padding: 50px;
    }
  }
  .submit_button {
    background-color: $primary_background_color;
    border-radius: 46px;
    border: none;
    color: #fff;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px 20px;
    font-family: $font_family;
    box-shadow: 1px 1px 5px 1px gray;
  }
}
