@import "../../../styles.scss";

.test_container {
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and( max-width:768px) {
    display: block;
  }
}

.testi_heading {
  font-size: $heading;
  font-family: $font_family;
  text-align: center;
}
